{% extends "ctest/base.html" %}

{% block content %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="javascript">
    // Note that the path doesn't matter for routing; any WebSocket
    // connection gets bumped over to WebSocket consumers

  </script>
  chatroom
  <table id='chat'>
    {% for i in messages %}
      <tr>
        <td>{{ i.message }}</td>
      </tr>
    {% endfor %}
  </table>
  <form id='chatform'>
    <input type="TextField" id="message" value="">
    <input type="submit" id='go' name="submit" value="Send">
  </form>

  <script type="text/javascript">
    socket = new WebSocket("ws://" + window.location.host + "/chat/");
    $("#chatform").on("submit", function(event) {
        var message = {
            message: $('#message').val(),
        }
        socket.send(JSON.stringify(message));
        $("#message").val('').focus();
        console.log('message: '+JSON.stringify(message))
        return false;
    });
    socket.onmessage = function(e) {
      console.log('message: ' + JSON.parse(e.data));
      var data = JSON.parse(e.data);
      var chat = $("#chat")
      var ele = $('<tr></tr>')

      ele.append(
          $("<td></td>").text(data.message)
      )
      chat.append(ele)
    }
    socket.onopen = function(e) {
      console.log('sockets onopen: '+socket.readyState);
      // document.write('sockets: '+socket.readyState);
    }
    socket.onerror = function(e) {
      console.log('error: '+ e.data);
    }
    socket.onclose = function(e){
      console.log('closed socket '+e.data)
    }
    console.log('ending socket: '+socket.readyState);
  </script>

{% endblock content %}
